[user]
	name = Mark Walters
	email = mark@yourpalmark.com
[init]
    defaultBranch = main
[color]
	ui = true
[push]
	default = simple
[credential "https://gecgithub01.walmart.com"]
	provider = github
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
